.partner-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
}

.partners-logo__img {
    max-width: 11.5rem;
}

@media (max-width: 1023.9px) {
    .partner-logos {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 2rem;
    }
}