.title {
    font-weight: 600;
    line-height: 1.26em;
    text-transform: capitalize;
}

.title--large {
    font-size: 4.25rem;
}

.title--medium {
    font-size: 3rem;
}

.title--small {
    font-size: 1.625rem;
    letter-spacing: 0.01em;
}